body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

.container-login{
    width: 400px; 
    margin: auto; 
}

.titulo{
    margin-bottom: 30px; 
}

.invisivel{
    display: none; 
}

.modal{
    overflow-y: hidden; 
}

body.modal-open, modal-open .navbar-fixed-top, model-open .navbar-fixed-bottom {
    margin-right: 0px; 
}